<h1>Settings</h1>

{{render 'pools.pools' model=model.pools controller='pools.pools'}}

{{render 'alerts.alerts' model=model.alerts controller='alerts.alerts'}}

{{render 'settings.notification' model=model.notification controller='settings.notification'}}

{{render 'settings.user' model=model.user}}