
// Restart-Reboot Element:
.restart-reboot-container{
  text-align: center;
  padding: 20px;
}
.restart-reboot-container .restart-reboot-btn:nth-of-type(1){
  margin-right: 15px;
}
.restart-reboot-info{
  font-size: 0.8em;
  color: #999;
  margin-left: -18px;
}