
// Restart-Reboot Element:
.restart-reboot-container{
  text-align: center;
  padding: 20px;
}
.restart-reboot-container .restart-reboot-btn:nth-of-type(1){
  margin-right: 15px;
}
.restart-reboot-info{
  font-size: 0.8em;
  color: #999;
  margin-left: -18px;
}

// Alert element:
.alert-element{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
.alert-element .alert-title{
  font-weight: 500;
}
.alert-element .alert-message{
  font-weight: 100;
}

#please-wait-container{
  margin-top: 50px;
}
.please-wait-timer-container{
  width: 150px;
  margin: 5px auto;
}
