<h3>Pools</h3>
<div class="well">
    {{outlet alert}}
    <div class="clearfix">
        <button class="pools-new btn btn-success btn-xs pull-right" {{action 'newPool'}}>
            <i class="fa fa-plus-square fa-lg"></i>&nbsp;&nbsp;Add Pool
        </button>
    </div>
    <div class="list-group">
        {{#each pool in model}}
            {{render 'pools.pool-config' pool}}
        {{/each}}
    </div>
</div>