<hr/>
<header class="miners-header row">
    <div class="col-md-12">
        <h3 class="table-title">Miners</h3>
        <div class="miner-list-controls pull-right"></div>
    </div>
</header>

<div id="miners-list-container">
    <div class="well">
        {{table-component columns=columns rows=rows hasFooter=true}}
    </div>
</div>