<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="header-login-container">
                <button class="logout-btn" {{action 'logout'}}>Logout</button>
            </li>
        </ul>
    </li>
</ul>