
<div id="please-wait-container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="well">
                <h2>{{message}}</h2>
                <div class="please-wait-timer-container">
                    <div class="please-wait-timer"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>