<div class="restart-reboot-container row">
    <div class="col-sm-6">
        <p class="restart-reboot-info"><i class="fa fa-info-circle fa-md"></i>&nbsp;Restarts CGMiner software</p>
        <button class="restart-btn restart-reboot-btn btn btn-primary btn-sm" {{action 'restart'}}>
            <i class="fa fa-repeat fa-lg"></i>
            &nbsp;Restart Miner
        </button>
    </div>
    <div class="col-sm-6">
        <p class="restart-reboot-info"><i class="fa fa-info-circle fa-md"></i>&nbsp;Reboots the Raspberry Pi</p>
        <button class="reboot-btn restart-reboot-btn btn btn-primary btn-sm" {{action 'reboot'}}>
            <i class="fa fa-power-off fa-lg"></i>
            &nbsp;Reboot Machine
        </button>
    </div>
</div>