<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Miner App</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="">{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
            <li class="">{{#link-to 'settings'}}Settings{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sign-in fa-lg"></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <form {{action 'login'}} id="navbar-login-form" class="navbar-form navbar-left" role="login">
                            <div class="form-group">
                                {{input type="text" class="form-conrtol" placeholder="username"}}
                                {{input type="password" class="form-conrtol" placeholder="password"}}
                            </div>
                            <button type="submit" class="btn btn-default btn-xs">Sign In</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>