
<article>
    <header>
        <h1>Dashboard</h1>
    </header>
    <section class="miner-list-table-container">
        <header>
            <h3>Miners</h3>
        </header>
        {{render 'miners.list' model.miners}}
    </section>
</article>